<!DOCTYPE html>
<html>
    <head>
        <title>Bloggidy</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    </head>

    <body>
        <div id="navbar" class="ui container">    
            <div class="ui menu">
                <div class="header item"><i class="ui blogger icon"></i>BLOGGIDY</div>
                    <a class="active item" href="/">HOME</a>
                    <a class="item" href="/blogs/new">NEW POST</a>
                </div>
            </div>
        </div>

